/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-family: roboto;
}
body {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #606161;
  font-weight: 300;
  background: ghostwhite;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 90%; 
  margin: 0 auto;
} 

.search-slice {
	background-color: #f0efef;
	padding: 15px 20px;
	width: 20;
	margin: 0, auto

}

form.search {
	display: flex;
	align-items: center;
}

form.search input[type="text"] {
	flex-grow: 2;
}

.banner img,
.ug img,
.pg img  {
	width: 100%;
	height: auto;
}

/*GENERAL*/


ul {
	list-style-type: none;
}



/*
HEADER*/

.flex-nav  {
	display: flex;
/*	flex-wrap: wrap;*/
	list-style-type: none;
	align-items: center;
	margin: 0;
	padding: 0.3em 0.8em;
	justify-content: flex-start;

}

.fix {
	max-width: 300px;
}
header {
	background-color: #f0efef;
	padding: 0;
	border-bottom: 1px dotted black;
}

header ul li a {
	color:#606161;
	text-decoration: none;
	padding-left:5px;
	padding-right: 5px;
}

h1 {
	font-size: 1.5rem;
}

header li {
	font-size: 0.9rem;
	margin-right: 2%;
}

.fa-bars {
	font-size: 1.5rem;
	margin: 0 0.8em;
	color: #606161;
	
}

.burger-hide {
	display: none;
	border-left: 1px solid lightgrey;
	margin-right: 0;
}

.last-nav {
	border-right: 1px solid lightgrey;
}

.active {
  display: block;
}

.navi {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	border-top: 1px black dotted;
	padding: 0;
	margin: 0;
}


/*MAIN*/

h2 {
	font-size: 1.7rem;
	text-align: center;
	margin: 0;
}

p {
	font-size: 1.2rem;
	margin: 0;
	padding: 5px 5px;
	text-align: justify;
}


section.intro {
	background-color: ghostwhite;
}

section.browse {
	padding-top: 20px;
}


footer {
	background-color: #f0efef;
}

div.pg {} /*for some reason whenever I delete this line i lose some styling. arrrgghh*/

div.ug,
div.pg {
	margin: 10px auto;
	background-color: #f0efef;
	padding: 0 0.8em 0.8em 0.8em;
	text-align: center;
	border-radius: 0.5em;
}

div.ug h3,
div.pg h3 {
	font-size: 1.5rem;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 0;
	color: #606161;
	
}

p.cta {
	color: black;
	background-color: white;
	width: 65%;
	padding: 0.5em;
	margin: 0.5em auto;
	border-radius: 0.5em;
	font-weight: 1.5;
	text-align: center;
}

.browse-left {
	padding-left: 0;
}

ul {
	padding-left: 0;
}

/*FOOTER*/
footer {
	padding-top: 0.5em;
	text-align: center;
}

footer a {
	color: #606161;
}

.copyright {
	text-align: center;
}


/*ACCORDION STYLES
*/

/*how do I get the icons working? I lifted this all from a fewd class coedpen
*/
.department {
  cursor: pointer;
  position: relative;
  background-color: #f0efef;
  padding: 15px 100px 15px 15px; 
}

.department:before {
  content: "\f067";
  font-family: "FontAwesome";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.department.is-active:before {
  content: "\f068";
}

.paper-year {
  display: none;
  padding: 0 15px;
}

.is-visible {
  display: block;
}
/*
DEPARTMENT RESULTS PAGE*/

li.pdf a{
	background-color: #f0efef;
	padding:  5px;
	margin: 5px 5px;
	line-height: 1.5;
	font-size: 1rem;
}

/*RANDOM BORED PAGE LEARNING TO DO A FLEXBOX GALLERY*/

.gallery {
	min-height: 100vh;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}


/*MEDIA QUERIES
*/

@media screen and (min-width: 800px){

	html {
		font-size: 1.5rem;
	}

	h1 {
	font-size: 1rem;

}
 header nav {
 	display: inline-block;
 }

header nav li {
	/*font-size: 1rem;*/
	display: inline-block;
	margin: 0 0.4em;
}

.burger-hide {
	display: block;
}

nav ul {
	margin: 0.4em auto;
	/*padding-right: 40px;*/
}


i.fa-bars {
	/*display: none;*/
	display: none;
}

div.ug,
div.pg {
	display:inline-block;
	width: 45%;
}

.browse-left {
	display:flex;
}
/*.degree-level ul {
	margin: 0 auto;
	padding-right: 0;
}*/
}

/*@media screen and (min-width: 200px) {
	body {
	font-size: 1rem;
	} */
}

Looks fine 400 up to 800 no real changes apart from maybe increasing font size on h2 and p. 
possibly need to shrink the search box below 400
above 800 I need to sort the primary nav out so the burger disappears and the nav is inline.
possibly need to add a link to search? Maybe the two browse options. Drop Library and Contact. 
Above 800 need to scale up the font sizes, snap the browse boxes next to each other. 
Find out how to scale up font-size as we go. Can I use a percentage for this? 
Above 800 I also need to start to constrain the width of the search slice. 

Also get some shadows in there to make the hero look a bit nicer and flow better.

Needs some help sorting out the header