/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-family: roboto;
}
body {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #606161;
  font-weight: 300;
  background: ghostwhite;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 90%; 
  margin: 0 auto;
} 

.search-slice {
	background-color: #f0efef;
	padding: 15px 20px;
	width: 20;
	margin: 0, auto

}

form.search {
	display: flex;
	align-items: center;
}

form.search input[type="text"] {
	flex-grow: 2;
}

.banner img,
.ug img,
.pg img  {
	width: 100%;
	height: auto;
}

/*GENERAL*/


ul {
	list-style-type: none;
}



/*
HEADER*/

header {
	display: flex;
	align-items: center;
	background-color: #f0efef;
}

header nav {
	float: right;
	display:none;
}

header ul li a {
	color:#606161;
}

.logo {
	padding: 10px;
	float: left;
}

h1 {
	display: inline-block;
	font-size: 1.5rem;
	padding-top: 0.3em;

}


header li {
	font-size: 1.3rem;
}

.fa-bars {
	padding: 1.5rem;
	float: right;
	color: #606161;
}

.active {
  display: inline-block;
}

/*MAIN*/

h2 {
	font-size: 1.7rem;
	text-align: center;
	margin: 0;
}

p {
	font-size: 1.2rem;
	margin: 0;
	padding: 5px 5px;
	text-align: center;
}

section.intro {
	background-color: ghostwhite;
}

section.browse {
	padding-top: 20px;
}


footer {
	background-color: #f0efef;
}

div.pg {} /*for some reason whenever I delete this line i lose some styling. arrrgghh*/

div.ug,
div.pg {
	margin: 10px auto;
	background-color: #f0efef;
	padding: 0 0.8em 0.8em 0.8em;
	text-align: center;
	border-radius: 0.5em;
}

div.ug h3,
div.pg h3 {
	font-size: 1.5rem;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 0;
	color: #606161;
	
}

p.cta {
	color: black;
	background-color: white;
	width: 65%;
	padding: 0.5em;
	margin: 0.5em auto;
	border-radius: 0.5em;
	font-weight: 1.5;
}

/*FOOTER*/
footer {
	padding-top: 0.5em;
	text-align: center;
}

footer a {
	color: #606161;;
}

/*MEDIA QUERIES
*/

@media screen and (min-width: 800px){

	html {
		font-size: 1.5rem;
	}

	h1 {
	font-size: 1rem;

}
 header nav {
 	display: inline-block;
 }

header nav li {
	font-size: 1rem;
	display: inline-block;
	margin: 0 1em;
}

ul {
	margin: 0.4em auto;
}


i.fa-bars {
	display: none;
}


}

Looks fine 400 up to 800 no real changes apart from maybe increasing font size on h2 and p. 
possibly need to shrink the search box below 400
above 800 I need to sort the primary nav out so the burger disappears and the nav is inline.
possibly need to add a link to search? Maybe the two browse options. Drop Library and Contact. 
Above 800 need to scale up the font sizes, snap the browse boxes next to each other. 
Find out how to scale up font-size as we go. Can I use a percentage for this? 
Above 800 I also need to start to constrain the width of the search slice. 