/*THIS IS THE CSS FOR THE NOTES PAGE> I AM TRYING TO MAKE A FLEX NAV IN THERE>
html and css to transfer over when i get it working. DOn't forget that i changed the JS as well! */*/*/
*/

/*
HEADER*/

.flex-nav  {
	display: flex;
/*	flex-wrap: wrap;*/
	list-style-type: none;
	align-items: center;
	margin: 0.2em;
	padding: 0.3em 0.8em;
	justify-content: flex-start;

}

.fix {
	max-width: 300px;
}
header {
	background-color: #f0efef;
	padding: 0.6em 0;
}

header ul li a {
	color:#606161;
	text-decoration: none;
}

h1 {
	font-size: 1.5rem;

}


header li {
	font-size: 1.1rem;
	margin-right: 2%;
}

.fa-bars {
	font-size: 1.5rem;
	margin-right: 0.8em;
	color: #606161;
}

.burger-hide {
	display: none;
}

.active {
  display: block;
}


.navi {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	border-top: 1px black dotted;
	padding-top: 0.5em;
	margin: 0;
}

@media screen and (min-width: 800px){

i.fa-bars {
	display: none;
}

.burger-hide {
	display: block;

}



}

@media screen and (max-width: 720px) {
	
}
